<h1 mat-dialog-title style="color: #32325d;">Criar Usuário</h1>
<div mat-dialog-content>Preencha os campos abaixo.</div>

<div style="background-color: crimson!important;" *ngIf="mostraralert" class="alert alert-danger" role="alert">
  Por favor verifique os campos obrigatórios!
</div>
<form [formGroup]="usuarioform">
  <div class="example-container">
    <div class="row" style="margin: 5px!important;">
      <mat-form-field appearance="legacy" style="margin: 5px!important;">
        <mat-label>User:</mat-label>
        <input #User formControlName="User" matInput placeholder="User" required>
        <mat-hint>Digite um username</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy" style="margin: 5px!important;">
        <mat-label>Senha:</mat-label>
        <input #Senha formControlName="Senha" matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Digite uma senha</mat-hint>
      </mat-form-field>
    </div>

    <div class="row" style="margin: 5px!important;">
      <mat-form-field appearance="legacy" style="margin: 5px!important;width: 100%;">
        <mat-label>Nome:</mat-label>
        <input #Nome formControlName="Nome" matInput placeholder="Nome" required>
        <mat-hint>Digite o nome do usuário</mat-hint>
      </mat-form-field>
    </div>

    <div class="row" style="margin: 5px!important;">

      <mat-form-field appearance="legacy" style="margin: 5px!important;width: 100%;text-align: center;">
        <mat-label>Escolha o Perfil:</mat-label>
        <mat-select #Perfil formControlName="Perfil" name="Perfil" required>
          <mat-option *ngFor="let perfil of dataperfilcombo" [value]="perfil.Value">
            {{perfil.ViewValue}}
          </mat-option>
        </mat-select>
        <mat-hint>Escolha o perfil do usuário</mat-hint>
      </mat-form-field>

    </div>
  </div>

  <div class="row" style="margin: 5px!important;">
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Fechar</button>
    </div>
    <div mat-dialog-actions style="margin-left: 65%;">
      <button mat-button mat-dialog-content [disabled]="!usuarioform.valid"
        (click)="Salvar(User.value, Senha.value, Nome.value, Perfil.value)">Salvar</button>
    </div>
  </div>

</form>