<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header ">
        <div class="row">
            <!-- <h5 class="card-category">Lista Completa</h5> -->
            <h2 class="card-title title d-inline" style="padding-left: 15px;" >Usuários</h2>
            <div class="dropdown" style="margin-left: auto;padding: 5px;" >
              <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                <i class="tim-icons icon-settings-gear-63"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#pablo">
                  <mat-icon>input</mat-icon>
                  <span style="vertical-align: super;">
                    Adicionar
                  </span>
                </a>
                <a class="dropdown-item" href="#pablo">
                  <mat-icon>cloud_download</mat-icon>
                  <span style="vertical-align: super;">
                    Download
                  </span>
                </a>
              </div>
            </div>
         
        </div>
      </div>
      <div class="card-body">
        <!-- <div class="table-responsive"> -->
          <table mat-table [dataSource]="dataSource" class="table tablesorter " style="width: 100%;" *ngIf="usuariosok; else loading">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id: </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="User">
              <th mat-header-cell *matHeaderCellDef> User: </th>
              <td mat-cell *matCellDef="let element"> {{element.User}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="Nome">
              <th mat-header-cell *matHeaderCellDef> Nome: </th>
              <td mat-cell *matCellDef="let element"> {{element.Nome}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="PerfilId">
              <th mat-header-cell *matHeaderCellDef> PerfilId: </th>
              <td mat-cell *matCellDef="let element"> {{element.PerfilId}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Perfil">
              <th mat-header-cell *matHeaderCellDef> Perfil: </th>
              <td mat-cell *matCellDef="let element"> {{element.PerfilNome}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="Data Criação">
              <th mat-header-cell *matHeaderCellDef> Data Criação: </th>
              <td mat-cell *matCellDef="let element"> {{element.DataCriacao}} </td>
            </ng-container>

            <ng-container matColumnDef="Data Atualização">
              <th mat-header-cell *matHeaderCellDef> Data Atualização: </th>
              <td mat-cell *matCellDef="let element"> {{element.DataAtualizacao} </td>
            </ng-container> -->
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          <ng-template #loading>
            <span>Carregando Lista...</span>
        </ng-template>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>